<app-header></app-header>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Login/Register</h1>
        <nav class="d-flex align-items-center">
          <a routerLink="/home">Home<span class="lnr lnr-arrow-right"></span></a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src="../../../../assets/img/login.jpg" alt="">
          <div class="hover">
            <h4>Nuevo en nuestro sitio web?</h4>
            <p>No te preocupes, puedes crear tu cuenta presionando el siguiente boton!</p>
            <a class="primary-btn" routerLink="/registro">Crear cuenta</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h3>Logueate para entrar</h3>
          <form class="row login_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="username" [(ngModel)]="email" name="name" placeholder="Usuario">
            </div>
            <div class="col-md-12 form-group">
              <input type="password" class="form-control" id="password" [(ngModel)]="password" name="name" placeholder="Contraseña">
            </div>
            <div class="col-md-12 form-group">
            </div>
            <div class="col-md-12 form-group">
              <button (click)="onLogin()" value="submit" class="primary-btn">Log In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Login Box Area =================-->

<app-footer></app-footer>